<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.wcy.arch.api">

    <application>
        <!-- ContentProvider只在主进程初始化 -->
        <!-- <provider
                android:name="me.wcy.arch.module.ArchProvider"
                android:authorities="${applicationId}.me.wcy.arch"
                android:exported="false" /> -->
    </application>
</manifest>